table{
  border-collapse: collapse;
  width: 95%;
  margin: 0 auto;
}
caption{
  font-size: x-large;
  /* font-weight: 100; */
}
thead{
  text-align: center;
  background: rgb(0, 0, 0);
  color: whitesmoke;
}
tfoot{
  font-weight: bold;
  text-align: right;
  background: rgb(151, 151, 151);
}
th{
  padding: 5px;
  padding-right: 30px;
}
td{
  padding: 5px;
}
.time{
  text-align: right;
}
tbody tr:nth-child(odd){
  background: silver;
}
table td:last-child{
  text-align: right;
}