.deg {
  width: 500px;
  height: 100px;
  background-image: linear-gradient(90deg, yellow, green);
}

.colorstop {
  width: 500px;
  height: 100px;
  background-image: linear-gradient(yellow 0%, green 50%);
}

.colorstop-1 {
  width: 500px;
  height: 100px;
  background-image: linear-gradient(yellow 20%, green 20%, green 70%, yellow 70%);
}

.colorstop-2 {
  width: 500px;
  height: 100px;
  background-image:  linear-gradient(yellow 33px, green 33px, green 66px, yellow 66px);
}