body{
  font-family: 'Roboto Slab', serif;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-style: oblique;
  font-weight: 500;
}
table, p, h1{
  background: white;
  border-collapse: collapse;
  width: 60%;
  text-align: left;
  margin: 0 auto;
}
th{
  font-family: 'Roboto Mono', monospace;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td{
  font-family: 'Roboto Condensed', sans-serif;
  color: #669;
  padding: 9px 8px;
}
tr:hover td{
  background: #6699ff;
}